@main-font: 'Work Sans', sans-serif;
@subtitle-font: 'Merriweather', serif;
@roboto      : 'Roboto', sans-serif;
@montserat: 'Montserrat', sans-serif;

@subtitle-color: #888888;

*{
    margin: 0;
    box-sizing: border-box;
}

.container() {
    font-family: @main-font;
    font-size: 15px;
    width    : 100%;
    max-width: 1200px;
    margin   : 0 auto;
}

@import 'header.less';
@import 'nav.less';
@import 'timeline.less';